html {
  font-family: "Titillium Web", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --doc-height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh; /* fallback for Js load */
  height: var(--doc-height);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img::selection {
  background: transparent;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */

* {
  scrollbar-width: auto;
  scrollbar-color: var(--dark) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--black);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--dark);

  border: 1px solid var(--black);
}

/*CONTAINER APP*/

#app-slider {
  position: relative;
  width: 100%;
  height: 100vh;
}

#app-container {
  height: 100%;
  white-space: nowrap;
}

#app-container * {
  white-space: normal;
}

.app-slider-position {
  display: inline-block;
  width: 100%;
  height: 100vh;
}

/* TOOL TIP */

tool-tip {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  box-shadow: 0 0 16px rgba(20, 39, 130, 0.5);
  font-size: 0.8rem;
  color: var(--dark);
  background: var(--white);
  padding: 0.3rem 0.8rem;
  opacity: 0;
  top: 100%;

  transition: opacity 0.3s ease;
  width: max-content;
}

:has(> tool-tip) {
  position: relative;
}

:has(> tool-tip):hover tool-tip {
  opacity: 1;
}
